@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


.App {
  background-color: #ebebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #040403;
  font-family: 'Karla', sans-serif;
}

p{
  display: block;
  width: 300px;
  font-size: 10pt;
  text-align: center;
  line-height: 20px; 
}

// bad naming smh
.header{
  position: absolute;
  top: 50px;;
}

header{
  color: #040403;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}


.button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.choice-button{
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;

  border-radius: 100%;
  border: 0px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  outline: none;
  border: none;
  transition: all ease 0.2s;

  &:focus {outline:none;}
  &::-moz-focus-inner {
    border: 0px;
  }



  img{
    width: 45%;
  }

  &.active{
    outline-style: none;
    -moz-outline-style:none;
    background-color: #5988ba;
    transform: rotate(10deg) scale(0.9);
  }
}

.shift{
  padding-right: 4px;
}


.credits-container {
  display: flex;
  align-items: center;
  font-size: 10pt;
  color: #040403;
  position: absolute;
  bottom: 10px;

  .divider{
    width: 3px;
    height: 3px;
    transform: translateY(2px);
    margin: 0px 10px;
    background-color: black;
  }

  
}

a{
  color: #5988ba; 
  position: relative;
  text-decoration: none;

  &:after{
    content: '';
    position: absolute;
    background-color: #5988ba;
    width: 10%;
    height: 1px;
    bottom: 0;
    animation: slide 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    left: 0;
    width: 100%;
  }
}

@keyframes slide{
  0%{
    background-color: #5988ba;
  }
  50% {
    background-color: #ebebeb;
  }
  100% {
    background-color: #5988ba;
  }
}
.matrix-container{
  margin-top: 20px;
  color: #040403;
  display: flex;
  flex-direction: column;
  span{
    display: block;
  }
}

.win-loss-container{
  width: 100%;
  margin: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #040403;
}


.response{
  color: #040403;
  margin-bottom: 30px;

  // player wins
  &.win{
    color: #0cce6b; 
  }

  // player loses
  &.lose{
    color: #ef2d56;
  }

  &.tie{
    color: #5988ba;
  }
}

.win-loss-container {
  span{
    color: #040403;
    margin: 0px 20px;
  }
}


