@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
.App {
  background-color: #ebebeb;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #040403;
  font-family: 'Karla', sans-serif;
}

p {
  display: block;
  width: 300px;
  font-size: 10pt;
  text-align: center;
  line-height: 20px;
}

.header {
  position: absolute;
  top: 50px;
}

header {
  color: #040403;
  font-size: 20pt;
  font-weight: bold;
}

.button-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
}

.choice-button {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px;
  border-radius: 100%;
  border: 0px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.choice-button:focus {
  outline: none;
}

.choice-button::-moz-focus-inner {
  border: 0px;
}

.choice-button img {
  width: 45%;
}

.choice-button.active {
  outline-style: none;
  -moz-outline-style: none;
  background-color: #5988ba;
  -webkit-transform: rotate(10deg) scale(0.9);
          transform: rotate(10deg) scale(0.9);
}

.shift {
  padding-right: 4px;
}

.credits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10pt;
  color: #040403;
  position: absolute;
  bottom: 10px;
}

.credits-container .divider {
  width: 3px;
  height: 3px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin: 0px 10px;
  background-color: black;
}

a {
  color: #5988ba;
  position: relative;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  background-color: #5988ba;
  width: 10%;
  height: 1px;
  bottom: 0;
  -webkit-animation: slide 3s;
          animation: slide 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 0;
  width: 100%;
}

@-webkit-keyframes slide {
  0% {
    background-color: #5988ba;
  }
  50% {
    background-color: #ebebeb;
  }
  100% {
    background-color: #5988ba;
  }
}

@keyframes slide {
  0% {
    background-color: #5988ba;
  }
  50% {
    background-color: #ebebeb;
  }
  100% {
    background-color: #5988ba;
  }
}

.matrix-container {
  margin-top: 20px;
  color: #040403;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.matrix-container span {
  display: block;
}

.win-loss-container {
  width: 100%;
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #040403;
}

.response {
  color: #040403;
  margin-bottom: 30px;
}

.response.win {
  color: #0cce6b;
}

.response.lose {
  color: #ef2d56;
}

.response.tie {
  color: #5988ba;
}

.win-loss-container span {
  color: #040403;
  margin: 0px 20px;
}
/*# sourceMappingURL=app.css.map */